@fontcolour-body: #44444;
@fontcolour-headings: #2C2C2C;


body {
    padding-bottom: 40px;
    font-family: 'Average', 'Georgia', serif;
    font-size: 19px;
    line-height: 10px;
    color: @fontcolour-body;
    background-color: #F5F5F5;
}
body, li {
    line-height: 25px;
}

.sidebar-nav {
    padding: 9px 0;
}

.no-hover:link, .no-hover:visited, .no-hover:active {
    color: #333333;
}

header h1 {
    font-size: 45px;
    margin: 20px 0 30px 0;
    line-height: 45px;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: @fontcolour-headings;
}

.omp-ingredients-list {
    margin: 0 0 0 0;

    dt {
        font-weight: normal;
    }

    dd {
        color: #777;
        font-size: 14px;
    }
}


.recipe-body h2 {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
}

/* Summary below the image on a recipe page */
.omp-recipe-summary, .omp-recipe-meta {
    font-size: 16px;
    color: @fontcolour-headings;
}

/* Styles for the sidebar on a recipe page */
.omp-recipe-sidebar {
    h3 {
        margin-top: 0px;
    }
}
